*.pyc
MVGIT-VERSION-FILE
git-analyze-changes
git-bulk-cherry-mv
git-changes
git-commit-mv
git-diff-limb
git-limb
git-log-limb
git-ls-limb
git-merge-limb
git-mvl6-releasify
git-provenance
git-push-limb
git-push-mv
git-quiltexport-mv
git-rebase-limb
git-signoff-limb
git-signoff-mv
